@{
    ViewBag.Title = "About";
}
<h2>About Tabib Project.</h2>


<div class="row">
    <div class="col-md-8">
        <article>
            <p>Tabib is a site between Doctors and patients give enable to contact to consult doctor, take appointment and chat with adoctors</p>
            <br />
            <div>
                <h3>Services</h3>
                <ul>
                    <li>read a science artical about various madican subject</li>
                    <li>consult doctor by users and read it</li>
                    <li>make an appointment at the right time with the doctor </li>
                    <li>Conversation with Doctors of Various Specialties </li>
                    <li>overview site Doctor </li>
                    </ul>
            </div>

            <br />
            
            <div>
                <h3>Features</h3>
                <ul>
                    <li>Google Auth</li>
                    <li>Captcha before rejester</li>
                    <li>Google Map</li>
                    <li>Signal R in notification and chat</li>
                    <li>send Email to users</li>
                   </ul>
            </div>

            <br />
            <div>
                <h3>Tooles</h3>
                <ul>
                    <li><label>programming : </label> <b>C#, JS.</b></li>
                    <li><label>Web Development : </label> <b>Asp.net mvc5, enetity framework, google Map ,Bootstrap, Jquery, . </b></li>
                    <li><label>DB : </label> <b>sql server</b></li>
                    <li><label>Other: </label> <b>Trello ,Git</b></li>
                </ul>
            </div>

            <br />
            <div>
                <h3>Planning</h3>
                <ul>
                    <li><b>ERD</b></li>
                    <li><b>UseCase</b></li>
                </ul>
            </div>

            <br />
            <br />

        </article>
    </div>
</div>
