@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>Omran Alaa Eldein </h1>
</hgroup>

<br />
<address>
    <strong>Gmail:</strong>   <a href="omranalaaeldein@gmail.com">omranalaaeldein@gmail.com</a><br />
    <strong>FaceBook:</strong> <a href="https://www.facebook.com/profile.php?id=100011485982972">Click Here</a><br />
    <strong>wahts app/Telegram:</strong> 00963 930748645<br />
</address>

<hr />
<div class="row">
    <div class="col-md-8">
        <article>
            <div>
                <h3>personal info</h3>
                <br />
                <ul>
                    <li><label>birth : </label> 8/7/1996</li>
                    <li><label>location : </label> Syria - Damascus</li>
                    <li><label>Job : </label> Full Stack Web Developer</li>
                    <li><label>How i am : </label> <b> I always like to learn something new and to work in an atmosphere of intelligence and challenge.</b></li>
                </ul>
            </div>

            <br />
            <div>
                <h3>skills</h3>
                <br />
                <ul>
                    <li><label>programming : </label> <b>C, C++, C#, VB, JS, Python, Java, Php, wpf.</b></li>
                    <li><label>Web Development : </label> <b>Asp.net mvc5, Asp.net api, ado.net, enetity framework, Signal IR, nuget, Laravel, google Map, Devexpress, Bootstrap, Jquery, React, Webpack. </b><small>angular</small></li>
                    <li><label>DB : </label> <b>sql server, Oracle></b><small> sql lite, weka</small></li>
                    <li><label>Software Engineering: </label> <b>System Analysis, Modelling, ERD ,Design Pattern</b></li>
                    <li><label>Other: </label> <b>TFS, DevOps, Trello ,Git, Machine Learning.</b><small> deployment , swegger</small></li>
                    <li><label>Graphic : </label> <b>OpenGl</b></li>
                    <li><label>Network : </label> <b>CCNA</b></li>
                    <li><label>Community: </label> <b>Work under pressure - Good learner - Leadership - Dealing with various temperaments and exchanging opinions</b></li>
                </ul>
            </div>

            <br />
            <div>
                <h3>experine</h3>
                <br />
                <ul>
                    <li><label>NVS Soft (New Vision System)</label> <b>Web Development (.net by # and VB, JS, reat , sqlserver , orale , devexpress) for 20 months</b></li>
                    <li><label>Fix me</label> <b>persnal projet in developer by (Asp.net, enetity framework, React) for 6 months</b></li>
                    <li><label>tabib</label> <b>persnal projet in developer by (Asp.net, enetity framework, React) for 6 months</b></li>
                    <li><label>RBCs Team- ITE</label> <b>(volunteer) Writing and styling lectures in ITE- Damascus University for 22 months</b></li>
                </ul>
            </div>

            <br />

            <div>
                <h3>personal projet</h3>
                <br />
                <ul>
                    <li><label>Fix Me (2020 - Present)</label> <b>A personal project that aims to link the maintenance market and technical support in side with customers in order to secure the best service for customers, create compete between companies to serve the customer, organize companies' work and automate and facilitate their employees' duties.</b></li>
                    <li>
                        <label>Automating Tasks of Communications Systems Management(2019)</label> <b>
                            Application uses( Business Process Management (PBM) ), (Automation Process Robotic (RPA) ) and ( Learning Machine Algorithms ) to manage communication systems in local telecommunication company (Syriatel).
                            This application controls communication Between departments and manages the daily routine work to predict the breakdowns and events before they occur. furthermore, it gives reports to follow the performance of departments and employees and addresses defects.
                            Used tools: Python , Communda Tool, Kibana Tool, Elasticsearch Tool.
                            Graduation grade 77% very good.
                        </b>
                    </li>
                    <li><label>Mini Search Engine (2019)</label> <b>Create a search engine that searches for the required documents using fast algorithms that give correct results and arranged according to the most important for the user with linking the search process with ontology. Using: Python, Django.</b></li>
                </ul>
            </div>
            
            <br />
            <div>
                <h3>language</h3>
                <br />
                <ul>
                    <li><label>english</label> <b> 3/5 </b></li>
                    <li><label>arabi</label> <b>native language</b></li>
                </ul>
            </div>

            <br />

            <div>
                <h3>eduaction</h3>
                <br />
                <ul>
                    <li><b>Master in Web SciencesSyrian Virtual University from 1/2021 until now</b></li>
                    <li><b>Software and Information System Engineering - (ITE) Information Technology Engineering-Damascus University from 9/2014 to 11/2020</b></li>
                </ul>
            </div>


            <br />
            <br />

        </article>
    </div>
    <div class="col-md-4">

        <img src="\Images\omran.jpg" class="image-responsive thumbnail" style="width:300px;height:500px;" />

    </div>
</div>